#footer {
    padding-top: 60px;
}
/* footer reassurance */
.footer-reassurance {
    padding: 30px 0;
    background-color: #f7f7f7;
}
.footer-reassurance .row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-reassurance .r-item {
    width: 25%;
    flex: 0 0 auto;
    padding: 0 15px;
}
.footer-reassurance .r-title {
    font-size: 24px;
    line-height: 24px;
    color: #383838;
    text-align: center;
    display: block;
    margin: 0 0 4px;
}
.footer-reassurance .r-desc {
    font-size: 16px;
    line-height: 18px;
    color: #336667;
    text-align: center;
    display: block;
}
.footer-reassurance .r-icon {
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
}
.footer-reassurance .r-icon img {
    height: 40px;
}


/* footer newsletter */
.footer-newsletter {
    background-color: #3ab39b;
    padding: 38px 0;
}
.footer-newsletter .row {
    max-width: 1190px;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-newsletter .n-title{
    width: 61%;
}
.footer-newsletter h2 {
    font-size: 36px;
    line-height: 1;
    color: white;
    font-weight: 300;
}
.footer-newsletter .form-newsletter {
    width: 39%;
}
.footer-newsletter .n-terms {
    display: flex;
}
.footer-newsletter .n-terms input[type="checkbox"] {
    position: relative;
}
.footer-newsletter .n-terms label {
    padding-left: 5px;
    font-size: 10px;
    color: white;
    max-width: 370px;
    cursor: pointer;
}
.form-newsletter .n-input {
    position: relative;
    display: flex;
    padding-right: 70px;
    margin: 0 0 12px;
}
.form-newsletter .n-input button[type="submit"] {
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: #336667;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-newsletter .n-input input[type="email"] {
    max-width: 395px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 16px;
    color: #686868;
}
.footer-newsletter .n-input input[type="email"]::placeholder {
    font-family: Montserrat;
    font-size: 18px;
    color: #686868;
}
.footer-newsletter .n-input label {
    padding-left: 5px;
    font-size: 10px;
    color: white;
    max-width: 370px;
    cursor: pointer;
}
.footer-newsletter .n-input label {
    padding-left: 5px;
    font-size: 10px;
    color: white;
    max-width: 370px;
    cursor: pointer;
}



/* footer seo */
.footer-seo {
    background-color: #204546;
    padding: 52px 0;
}
.footer-seo .seo {
    max-width: 1190px;
    margin: 0 auto;
}
.footer-seo p {
    color: white;
    text-align: center;
    line-height: 22px;
}


/* footer payment */
.footer-payment {
    background-color: #336667;
}
.footer-payment .container {
    border-top: 1px solid #e4e4e4;
    padding: 11px 0;
}
.footer-payment ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.footer-payment ul li {
    padding: 0 7px;
}
.footer-payment ul li img {
    max-width: 37px;
}